<h1>Table of projects</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>description</th>
      <th>homepage</th>
      <th>is public</th>
      <th>parent id</th>
      <th>created on</th>
      <th>updated on</th>
      <th>identifier</th>
      <th>status</th>
      <th>lft</th>
      <th>rgt</th>
      <th>inherit members</th>
      <th>default version id</th>
      <th>default assigned to id</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.homepage %></td>
        <td><%= project.is_public %></td>
        <td><%= project.parent_id %></td>
        <td><%= project.created_on %></td>
        <td><%= project.updated_on %></td>
        <td><%= project.identifier %></td>
        <td><%= project.status %></td>
        <td><%= project.lft %></td>
        <td><%= project.rgt %></td>
        <td><%= project.inherit_members %></td>
        <td><%= project.default_version_id %></td>
        <td><%= project.default_assigned_to %></td>
      </tr>
    <% end %>
  </tbody>
</table>
