<h1>Table of vykaz</h1>

<table>
  <thead>
    <tr>
      <th>datum</th>
      <th>hod</th>
      <th>uzivatel</th>
      <th>poradi</th>
      <th>cil</th>
      <th>poznamka</th>
    </tr>
  </thead>

  <tbody>
    <% @vykazy.each do |vykaz| %>
      <tr>
        <td><%= vykaz.datum %></td>
        <td><%= vykaz.hod %></td>
        <td><%= vykaz.uzivatel %></td>
        <td><%= vykaz.poradi_cin %></td>
        <td><%= vykaz.cil_redmine %></td>
        <td><%= vykaz.poznamka %></td>
      </tr>
    <% end %>
  </tbody>
</table>
